html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', serif;
  color: #303030;
  margin: 0;
  padding: 0;
}

/*-------------------------Styling for responsive navbar--------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin: 0px 16px;
}

.logo #muditasisodia {
  font-family: 'DM Serif Display', serif;
}

.logo #ms-desc {
   font-size: 12px;
}

.nav-container .navbar .icon-bar {
  padding: 16px 0px;
  width: 40px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.icon-bar i {
  background-color: #333333;
  height: 2px;
}

.nav-container .navbar ul {
  list-style: none;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: fixed;
  left: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
  margin: 0px;
  padding: 0px;
}

.nav-container .navbar ul li a {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: block;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-bottom: solid 0px #444444;
  transition: border-width 0.15s linear;
  margin-top: 1.5em;
}

.nav-container .navbar ul li a:hover {
  border-width:3px;
}

.nav-container .navbar ._Menus-show {
  left: 0;
}

#work-categories {
  display: none;
}

#work-categories li {
  margin-top: 10px;
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {

  .nav-container .navbar .icon-bar {
    display: none;
  }

  .nav-container {
    height: 100vh;
    width: 20vw;
    background-color: rgba(0,0,0,0.025);
    position: fixed;
    top :0px;
    left :0px;
    margin: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    padding-top: 10vh;
  }

  .nav-container .navbar ul{
    position: static;
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0);
  }

  .nav-container .navbar ul li a {
    text-align: left;
    display: inline-block;
  }

  .logo #muditasisodia {
    font-size: 20px;
  }

  .logo #ms-desc {
     font-size: 12px;
  }
}

/*---------------------End of styling for responsive navbar-----------------------------*/

/*-------------------------Projects grid-------------------------------------------*/

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  grid-row-gap: 5em;
  padding: 0 16px
}

.project-title {
  font-size: 20px;
  font-weight: 900;
}

.project-summary {
  font-size: 16px;
  line-height: 1.75em;
}

.project-img img{
  max-width: 100%;
  object-fit: cover;
  margin: 1em 0px;
  border-radius: 8px;
}

.project-cta {
  margin-top: 2em;
  text-transform: uppercase;
}

.project-cta a {
text-decoration: none;
color: #777777;
}

@media only screen and (min-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    grid-column-gap: 5vw;
    padding: 0px;
    margin-left: 20vw;
    padding: 0px 10vw;
  }
}

/*---------------------------Styling for internal pages-------------------------*/

.wrapper {
  margin: 7px;
  background-color: #fff;
  padding: 10px 20px;
}

@media only screen and (min-width: 768px) {

  .wrapper {
    padding: 35px 100px 50px 100px;
  }
}

/*------------------------------------------------------------------------------*/

/*-------------------------------------Front-end----------------------------*/
.portfolio-content {
  max-width: 740px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.proj-header {
  font-family: 'DM Serif Display', serif;
  font-size: 35px;
}

.proj-subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #a8a8a8;
  padding-top: 15px;
}

.proj-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 34px;
}

.proj-content-header {
  margin-top: 50px;
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  /*font-weight: bolder;*/
}

.proj-content-subheader {
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
}

.image-grid {
  text-align: center;
}

.image-item {
padding: 15px;
padding-bottom: 5px;
}

.image-grid img {
  object-fit: contain;
  object-position: center;
  max-width: 90%;
}

.image-hor {
  width: 90%;
}

.scholarship-badge {
  width: 30%;
}

.scholarship-mail {
  width: 60%;
}

.caption {
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
  line-height: 28px;
}

.proj-content-header + .proj-subheader {
  margin: 0px;
  padding: 0px;
}

.project-header + p {
  font-size: 18px;
  line-height: 34px;
  color: #303030;
}

@media only screen and (min-width: 1024px) {
  .image-hor {
    width: 45%;
  }
}


/*--------------------------------------------Photography---------------------------------*/

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-grid .photo-item{
  flex: 100%;
  padding: 20px 10px;
}

.photo-item:first-of-type {
  padding: 0px;
  margin: 0px;
}

.photo-item > img, .photo-item > p {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

.photo-item > p{
  font-size: 18px;
  line-height: 30px;
}

@media only screen and (min-width: 794px) {
  .photo-grid .vert {
    flex: 40%;
  }

  .photo-item > p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
  .photo-item:first-of-type {
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .photo-item > p {
    padding-top: 75px;
  }
  .photo-grid {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .photo-grid {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*------------------------------------------Internship---------------------------------------*/

.testimonial {
  font-style: italic;
  width: 80%;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 50px auto;
  border-left: 5px solid rgba(132, 0, 0, 0.25);
  padding-left: 25px;
  padding-right: 25px;
}
