html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
}

body {
  color: #303030;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', serif;
}

/*-------------------------Styling for responsive navbar--------------------------------*/

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #303030;
}
/*
.gradient-1 {
  height: 100vw;
  width: 200vw;
  position: fixed;
  right: -100vw;
  top: -75vw;
  background: radial-gradient(closest-side, #FFA6CD 0, white 70%);
  z-index: -1;
  color: rgba(255, 255, 255, 0);
}

.gradient-2 {
  height: 75vw;
  width: 75vw;
  position: fixed;
  right: 5vw;
  top: -70vw;
  background: radial-gradient(circle at center, #FCDA6D 0, rgba(254, 254, 254, 0) 70%);
  z-index: -1;
  color: rgba(255, 255, 255, 0);
}
*/

.fixed-width {
  padding: 0px 16px;
}

.content-container {
  margin-top: 80px;
}

/*----------------------------------------- NAVBAR --------------------------------------*/
.nav-contents {
  display: flex;
  margin: 32px auto;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Inconsolata', monospace;
}

.logo {
  font-weight: 400;
}

span {
  font-weight: 200;
}

.fa-times {
  display: none;
}

.menu-list {
  display: none;
  font-family: 'Open Sans', serif;
  position: absolute;
  top: 96px;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.menu-list ul {
  padding: 0px;
  margin-top: 32px;
}

.menu-list li {
  list-style-type: none;
  text-align: center;
}

.menu-show {
  display: block;
}

.desktop-menu {
  display: none;
}

.desktop-menu ul{
  list-style-type: none;
  display: flex;
  gap: 32px;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 24px;
}

.desktop-menu .active {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.desktop-menu .inactive {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s linear;
  margin: 0.5em;
}

.desktop-menu .inactive:hover {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 992px) {
  .desktop-menu {
    display: block;
  } 

  .fa-bars {
    display: none;
  }
}
/*-----------------------------------------END OF NAVBAR --------------------------------------*/

/*-----------------------------------------INDEX SECTIONS --------------------------------------*/

.intro img {
  width: 40vw;
  height: auto;
  display: block;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  margin-bottom: 48px;
}

.intro-header {
    font-family: 'Inconsolata',
    monospace;
    font-size: 32px;
    margin-bottom: 16px;
}

.intro-body {
  font-size: 20px;
  line-height: 32px;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 120px;
  /*width: 100%;*/
  align-items: center;
}

.section-header {
  margin-top: 24px;
  font-size: 32px;
  margin-bottom: 4px;
  font-family: 'Inconsolata',
  monospace;
}

.section-tags, .cs-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
}

.section-tags {
  margin-bottom: 16px;
}

.section-img img {
  width: calc(100vw - 32px);
}

.section-desc {
  font-size: 20px;
  line-height: 32px;
}


@media only screen and (min-width: 992px) {

  .intro {
    display: flex;
    gap: 64px;
    margin-bottom: 160px;
  }

  .intro img {
    width: 150px;
    margin-bottom: 0px;
  }

  .intro-text {
    width: 646px;
  }

  .section-header {
    margin-top: 0px;
  }

  .fixed-width {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 0px;
  }

  /*
  .section {
    flex-direction: row-reverse;
  }
  */

  .section-details {
    flex-basis: 55%;
    padding-left: 5%;
  }

  .section-img {
    flex-basis: 40%;
  }

  .section-img img {
    object-fit: cover;
    width: 100%;
  }
}

/*-------------------------------------END OF INDEX SECTION---------------------------------*/

/*-------------------------------------CASE STUDY---------------------------------*/

.cs-section {
  margin-bottom: 40px;
}

.cs-header-section {
  margin-bottom: 40px;
}

.cs-sub-section {
  margin-bottom: 40px;
}

.cs-header {
  font-family: 'Inconsolata', monospace;
  font-size: 32px;
  line-height: 32px;
}

.cs-sub-header {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.cs-body {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 30px;
}

.cs-body img {
  max-width: calc(100vw - 32px);
}

.cs-desc {
  margin-top: 40px;
}

ol {
  padding-left: 1em;
}

.col {
  padding-bottom: 40px;
}

.cs-card {
  padding: 16px;
  background-color: rgba(0,0,0,0.025);
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: stretch;
  margin-bottom: 32px;
}

.videos-container {
  display: flex;
  justify-content: space-between;
}

.video-caption {
  font-size: 11px;
  line-height: 17px;
  color: rgba(0,0,0,0.5);
  text-align: center;
  width: 100%;
}

video {
  border-radius: 8px;
  border: inset 1px rgba(255, 255, 255, 0.1);
  max-width: 90%;
}

#medium-button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 12px 20px 12px 12px;
  border: none;
  background-color: #270680;
  color: #f3f3f4;
  font-size: 16px;
  line-height: 24px;
  border-radius: 24px;
  cursor: pointer;
}

#medium-button img {
  height: 24px;
  width: auto;
}

@media only screen and (min-width: 992px) {
  .split-col{
    display: flex;
    gap: 64px;
  }

  .split-col .col {
    width: 424px;
  }

  .split-col img {
    width: 424px;
  }

  .cs-body img {
    width: 960px;
  }
}

/*------------------------------------- END CASE STUDY---------------------------------*/

/*----------------------------------------FOOTER----------------------------------------*/

footer {
  padding-top: 40px;
}

footer .footer-inner-container {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.socials i{
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 24px;
  font-size: 32px;
}